.box {
  width: 100%;
  display: flex;
  left: 0.5%;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  z-index: 999;
}



.st-container__standby-button {
  width: 70px;
  height: 70px;
  cursor: pointer;
   width: 35px;
  height: 35px;
  border: 2px solid #eee;
  display: block;
  border-radius: 10px;
  z-index: 999;
  visibility: visible !important;
}



.st-standby {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s 0s, opacity 1s linear;
}

.st-standby.fade {
  visibility: hidden;
  opacity: 0.35;
  transition: visibility 0s 1s, opacity 1s linear;
}

.st-standby.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s 0s, opacity 1s linear;
}

